:root {
  --previewWidth: 300px;
}

@media (min-width: 1280px) {
  :root {
    --previewWidth: 360px;
  }
}

.live-preview {
  background: #fff;
  transform: translate(100%, 0);
  transition: all 0.5s;
  position: fixed;
  top: 39px;
  right: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
}

.live-preview--open {
  transform: translate(0, 0);
}

.live-preview__actions {
  padding: 2px 0;
  background: black;
  text-align: right;
  transition: all 0.5s;
}

.live-preview--fullscreen .live-preview__actions {
  right: 70px;
  width: calc(100% - 70px);
}

.live-preview__actions__btn-close,
.live-preview__actions__btn-fullscreen {
  margin: 0 5px;
  padding: 7px 10px;
  background: black;
  color: white;
  font-size: 14px;
  border: 0;
}

.live-preview__actions__btn-fullscreen {
  display: none;
}

@media (min-width: 1024px) {
  .live-preview {
    width: calc(var(--previewWidth) + min(4vw, 60px));
    border-left: solid 1px #d4d4d8;
  }

  .live-preview__actions__btn-fullscreen {
    display: inline-block;
  }
}

.live-preview--fullscreen {
  width: 100%;
  border-left: 0;
}

@media (min-width: 976px) {
  .live-preview {
    top: 54px;
  }
}
